
{% include 'show_2016/base_start.html' %}


<div align="center">
  <h2>PORTNEUF VALLEY PHOTOGRAPHIC SOCIETY<br>
        (PVPS)<br>
        2016 JUDGED SHOW</h2>
  
  <h3>Entry Form</h3>

</div>


  <table border="0" width="90%">

    <tr>
      <td align="right">
	<label for="1">Name:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.name_string }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="1">Address:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.address }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="3">City:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.city }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="4">State:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.state }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="5">Zip:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.zip }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="5">email:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.email }}
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="5">Phone:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="2">
	{{ entry.phone }}
      </td>
    </tr>

    <tr height="30"><td colspan="3"></td></tr>

    <tr>
      <td align="right">
	<label>Title 1:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic1_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 1:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic1_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>
    
    <tr>
      <td align="right">
	<label>Title 2:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic2_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 2:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic2_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 3:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic3_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 3:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic3_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 4:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic4_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 4:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic4_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 5:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic5_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 5:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic5_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 6:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic6_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 6:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic6_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 7:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic7_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 7:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic7_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>

    <tr>
      <td align="right">
	<label>Title 8:&nbsp;&nbsp;</label>
      </td><td align="left">
	<u>&nbsp;&nbsp;{{ entry.pic8_title }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td><td align="left">
	Category 8:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;{{ entry.pic8_category }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>


    <tr height="15"><td colspan="3"></td></tr>


    <tr>
      <td align="right">
	Entries:&nbsp;&nbsp;
      <td align="left" colspan="2">
	 <u>&nbsp;&nbsp;{{ entry.num_pics }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
	 &nbsp;X $9&nbsp;&nbsp;=
	 <u>&nbsp;&nbsp;${{ entry.entry_fee }}&nbsp;&nbsp;&nbsp;&nbsp;</u>
      </td>
    </tr>


  </table>

  <br>
  
  <table border="0" width="90%"><tr><td>
  <p>
Exhibitor agrees not to hold the Pocatello Art Center or the Portneuf Valley Photographic 
Society liable in any manner for, or
on account of, any loss or damage sustained by 
actions of any third party, fire, theft or the elements or any loss of an article from any 
cause.  Nor are they liable for any injury to an exhibitor or guests.
  </p>
  </table>

  <br>

<p>
    Signature: <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;</u>

    &nbsp;&nbsp;Date:&nbsp;<u>&nbsp;&nbsp;{{ entry.date_string }}
    &nbsp;&nbsp;</u>
</p>

<br>

<p>
  You can print this for your records.
</p>


{% include 'show_2016/base_finish.html' %}

