
{% include 'show_2016/base_start.html' %}


<blockquote>

<div align="center">
  <h1>PVPS 2016 Judged Show</h1>

  <h2>Entry Form</h2>
</div>

<br>


<form action="entry_action" method="post">

  {% csrf_token %}

  <table border="0" width="90%">

    <tr>
      <td align="right" width="110"">
	<label for="1">Name:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="name" id="1" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="2">Address:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="address" id="2" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="3">City:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="city" id="3" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="4">State:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="state" id="4" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="5">Zip:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="zip" id="5" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="6">email:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="email" id="6" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="7">Phone #:&nbsp;&nbsp;</label>
      </td><td align="left" colspan="3">
	<input type="text" name="phone" id="7" />
      </td>
    </tr>

    <tr><td>&nbsp;</td><td colspan="3">&nbsp;</td></tr>


    <tr>
      <td align="center">&nbsp;</td>
      <td align="center">Title</td>
      <td align="center">Category</td>
      <td align="center">Price</td>
    </tr>

{% for i in entry_list %}

    <tr valign="middle" height="30">
      <td align="right">
	<label for="1{{ i }}">
	  {{ i }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
	  </label>
      </td><td align="center">
	<input type="text" name="pic{{ i }}_title" id="1{{ i }}" />
      </td><td align="center">
	<select name="pic{{ i }}_category">
	  {% for category in all_categories %}
	    <option value="{{ category.id }}">
	             {{ category.name_string }}</option>
	  {% endfor %}
	</select>
      </td>
      <td align="center">
	<input type="text" name="pic{{ i }}_price" id="2{{ i }}" />
      </td>
    </tr>

{% endfor %}


    <tr><td>&nbsp;</td><td colspan="3">&nbsp;</td></tr>

    <tr>
      <td>&nbsp;</td>

      <td colspan="3">

Exhibitor agrees not to hold the Pocatello Art Center or the Portneuf Valley Photographic 
Society liable in any manner for, or
on account of, any loss or damage sustained by 
actions of any third party, fire, theft or the elements or any loss of an article from any 
cause.  Nor are they liable for any injury to an exhibitor or guests.


    </td></tr>
    

    <tr><td>&nbsp;</td><td colspan="3">&nbsp;</td></tr>

    <tr>
      <td>
	&nbsp;
      </td><td colspan="3">
	<input type="submit" value="Submit Entry"
      </td>
    </tr>

  </table>

</form>

  <br>
  

  
</backquote>


  {% include 'show_2016/base_finish.html' %}

