
{% include 'show_2016/base_start.html' %}


<blockquote>

  <h1>PVPS 2016 Judged Show</h1>


  <p>
    
  </p>

  <ul>

    <li><a href="entry_form">Entry Form</a></li>
    <li><a href="list_entries">List of Entries</a></li>
    <li><a href="list_pics/date">List of Pictures by Date</a></li>
    <li><a href="list_pics/entrant">List of Pictures by Entrant</a></li>
    <li><a href="list_pics/category">List of Pictures by Category</a></li>
    <li><a href="wallcards">Print the Wall Cards</a></li>

  </ul>

  
</blockquote>


{% include 'show_2016/base_finish.html' %}

