
{% include 'show_2016/base_start.html' %}

{% load staticfiles %}

<blockquote>


{% if all_pics %}

  {% for pic in all_pics %}


  <table class="wall">

    <tr>

      <td class="wall">


	Artist: &nbsp;&nbsp;
	<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pic.entrant }}
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br /><br />

	Title:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pic.title|ljust:"50" }}
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br /><br />

	Category:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pic.category }}
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br /><br /><br />

	Number:&nbsp;&nbsp;
	<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</u><br />

      </td>
    </tr>

  </table>


  {% if forloop.counter|divisibleby:5 %}

  <span class="pagebreak"> </span>

  {% endif %}


  {% endfor %}

    </tr>
  </table>
  

{% else %}

  <p>
    There are no entries yet.<br>
  </p>

{% endif %}

</blockquote>

  <span class="pagebreak"> </span>

{% include 'show_2016/base_finish.html' %}

